@font-face {
  font-family: 'Quicksand';
  src: url('/fonts/quicksand.woff2') format('woff2');
}

@font-face {
  font-family: 'Pacifico';
  src: url('/fonts/pacifico.woff2') format('woff2');
}

:root {
  --yellow: #e5a91e;
  --l-50: #f2fdff;
  --l-100: #e6fcff;
  --l-200: #bff7ff;
  --l-300: #99f3ff;
  --l-400: #4de9ff;
  --l-500: #00e0ff;
  --l-600: #00cae6;
  --l-700: #008699;
  --l-800: #006573;
  --l-900: #00434d;

  --gap: 1rem;
  --rowGap: 2.5rem;

  --bg: var(--l-100);
  --primary: var(--l-300);
  --secondary: var(--l-700);
  --text: var(--l-900);
  --accent: var(--l-600);
  --focus: var(--yellow);

  --transition: 0.2s all ease-in-out;

  --centerColumn: 1440px;

  --smShadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.25);
  --mdShadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.25);
  --lgShadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  --focusShadow: 0 0 0 3px var(--focus);
}

html, body {
  min-height: 100vh;
}

body {
  background: var(--l-100);
}

.text-shadow {
  text-shadow: 0 2px 4px rgba(33, 47, 79, 0.5);
}

#__next {
  padding: 1rem;
  height: 100vh;
  color: var(--text);
  font-size: clamp(100%, 1rem + 0.25vw, 2rem);
  display: grid;
  grid-template-rows: auto 1fr auto;
  align-items: center;
  font-family: Quicksand, sans-serif;
}

.header-wrapper,
.footer-wrapper {
  max-width: var(--centerColumn);
  padding: var(--gap);
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5;
  font-family: Pacifico, sans-serif;
  color: var(--heading);
}

h1 {
  font-size: clamp(2rem, 3rem + 1vw, 4rem);
}

h2 {
  font-size: clamp(1.5rem, 1.5rem + 1vw, 2.5rem);
}

h3 {
  font-size: clamp(1rem, 1rem + 0.75vw, 1.75rem);
}

a {
  text-decoration: none;
  color: var(--l-900);
  transition: var(--transition);
  border-bottom: 2px solid transparent;
}

a:hover {
  border-bottom: 2px solid var(--l-900);
  color: var(--l-700);
}


button {
  border-radius: 0.25em;
  border: none;
  padding: 0.5rem 1rem;
  background: var(--l-900);
  color: var(--l-100);
  transition: var(--transition);
  cursor: pointer;
}

button:hover {
  background: var(--l-700);
}

button:focus {
  outline: none;
  box-shadow: var(--focusShadow);
}

